.careers-page {
  .careers-content {
    margin: 0px 50px;

    .careers-description {
      font-size: 0.9rem;
      color: #7b7d7d;
      margin: 20px 0px;
    }

    .careers-list {
      list-style: none;
      padding: 0px;
    }

    .btn {
      padding: 10px 60px;
      margin: 10px 0px;
    }
    .careers-btn-lnk:hover .btn {
      color: #fff !important;
    }
  }
}
