.hero {
  background-image: url("../images/bg.jpg"); /*Wallpaper by desktopwalls.net*/
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 90vh;

  .hero-content {
    .title {
      font-weight: bold;
      font-size: 4.5em;
      color: #fff;
      text-shadow: 1px 1px 2px #000;
    }

    @media screen and (max-width: 990px) {
      .title {
        font-size: 3em;
      }
    }
    @media screen and (max-width: 500px) {
      .title {
        font-size: 2.5em;
      }
    }

    .h-separator {
      border-style: solid;
      border-width: 1.8px;
      width: 150px;
    }

    .hero-description {
      color: rgba(#fff, 0.8);
    }

    .hero-buttons {
      .btn {
        margin: 5px;
        width: 200px;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    height: 100vh;
  }
}
