* {
  transition-duration: 0.3s;
}
.layout {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header4-title {
  text-transform: uppercase;
  font-weight: bold;
}
.section-xl {
  padding: 150px 0px 100px;
}

.section-lg {
  padding: 100px 0px;
}

.section-md {
  padding: 50px 0px;
}

.bg-light-gray {
  background-color: #f2f3f8;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-sb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.page-404 {
  h1 {
    font-size: 7rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.text-gray {
  color: #7b7d7d;
}

.text-light {
  color: #9b9b9b;
}
