.list1 {
  .svg {
    width: 24px;
    min-width: 24px;
    margin-right: 5px;
    svg {
      width: 24px;
      height: 24px;
      fill: #000;
      stroke: #fff;
      stroke-width: 1px;
    }
  }

  .list-title {
    white-space: nowrap;
  }
}
